<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Moviepedia </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id='cnt'>
  <div id="content">
  <div id="container">
    <ion-card *ngFor="let movie of listaFilmes">
      <img *ngIf="movie.backdrop_path" [src]="formatUrl(movie.backdrop_path)"  class='icard-movie'/>
      <ion-card-header>
        <h1>{{movie.title}}</h1>
        <ul class="movie-gen">
          <li>{{movie.release_date}}  /</li>
          <li>2h 49min  /</li>
        </ul>
      </ion-card-header><br/>
      <ion-card-content> {{movie.overview}} </ion-card-content>
    </ion-card>
  </div>
  </div>

  <ion-row id="navigatorButtons">
    <ion-col size="5">
      <ion-button expand="full" color="primary" (click)="anterior()">
        <ion-label>Anterior</ion-label>
        <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2"><p id="pagenumber">{{pagina}}/{{total}}</p></ion-col>
    <ion-col size="5">
      <ion-button expand="full" color="primary" (click)="proximo()">
        <ion-label>Próximo</ion-label>
        <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
