<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Moviepedia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    
  </div>

  <ion-row id='navigatorButtons'>
    <ion-col size="5">
      <ion-button expand="full" color="primary" (click)="anterior()">
        <ion-label>Anterior</ion-label>
        <ion-icon slot='start' name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size='2'><span> {{pagina}}/{{total}} </span></ion-col>
    <ion-col size="5">
      <ion-button expand="full" color="primary" (click)="proximo()">
        <ion-label>Próximo</ion-label>
        <ion-icon slot='end' name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
