$accent-color: #e7e7e7;
$brand-color:#fe4141;
$dark-color: #1e1b26;

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);

$heading-font-family: 'Montserrat', sans-serif;
$paragraph-font-family: 'Open Sans', sans-serif;

$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$font-regular: 400;
$mont-bold: 700;

$text-movie-title:36px;
$text-summary:12px;
$text-action-btn:14px;
$text-movie-description:12px;


#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#navigatorButtons {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

#navigatorButtons div {
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.icard-movie {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
			color-stop(0.00,  rgba(0,0,0,1)),
			color-stop(0.35,  rgba(0,0,0,1)),
			color-stop(0.50,  rgba(0,0,0,1)),
			color-stop(0.65,  rgba(0,0,0,1)),
			color-stop(0.85,  rgba(0,0,0,0.6)),
      color-stop(1.00,  rgba(0,0,0,0)));

  position:relative;
}

.movie-gen{
  margin:0px;
  padding:0px;
    li{
    font-family:$paragraph-font-family;
    font-size:$text-summary;
    color:darken( $accent-color, 40% );
    width:auto;
    display:block;
    float:left;  
    margin-right:6px;
    font-weight:$semi-bold;
  }
}